/* -------------------VARIABLES------------------- */
@import 'var';
@import 'mixin';

/* -------------------POLICE------------------- */
@font-face{
    font-family: shrikhand;
    src: url(police/shrikhand/Shrikhand-Regular.otf);
}
/* -------------------BODY------------------- */
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    min-width: 350px;
}
/* -------------------HEADER------------------- */
.header-logo{
    display: flex;
    align-items: center;

    .return{
        position: absolute;
        left: 10px;
        color: inherit;
    }

    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        margin-top: 25px;
        height: 2rem;
        width: 10rem;
    }
}
.banniere-img{
    max-width: 100%;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
/* -------------------MAIN------------------- */
main{
    background-color: #f6f6f6;
    max-width: 100% !important;
    margin: auto;
    margin-top: -70px;
    z-index: 10;
    position: relative;
    border-radius: 30px 30px 0px 0px;  
}
.menu-title{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    padding: 10px;

    .empty, .full {
            font-size: 1.75rem;
            position: absolute;
            top: 35px;
            right: 40px;
    }
    .full {
        display: none !important;
        background: $btn-color;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
      
      .like-heart:hover .empty {
        display: none;
      }
      
      .like-heart:hover .full {
        display: unset !important;
        animation: full-heart 0.7s linear both;
      }
}

.menu-bloc{
    display: flex;
    flex-direction: column;

    .menu-type{
        width: 100%;
        /*display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;*/
    }

    .type-title{
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        border-bottom: solid #99E2D0;
        max-width: 45px;
        margin-left: 15px;
        padding-bottom: 8px;
    }

    .type{
        display: flex;
        align-items: end;
        background-color: #fff;
        border-radius: 1rem;
        margin: 10px;
        box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
        cursor: pointer;

        .type-txt{
            width: 100%;
            height: 45px;
            margin-left: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            h4{
                margin: 0px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .price{
            margin: 10px;
            align-items: flex-start;
        }
        .check{
            font-size: 1.3em;
            color: transparent;
            width: 0px;
            display: flex;
            height: 58px;
            align-items: center;
            justify-content: center;
            border-radius: 0rem 1rem 1rem 0rem;
        }
        &:hover{
            .check{
            width: 80px;
            background: #99e2d0;
            color: white;
            cursor: pointer;
            transition: all 700ms;

            .rotate-circle{
                overflow: hidden;
                transform: rotate(-360deg);
                transition: transform 700ms;
            }
            }
        }

    }
    
}
.menu-bloc-btn{
    text-align: center;
    padding: 30px;

    .menu-btn{
        background: $btn-color;
        border-radius: 60px 60px 60px 60px;
        box-shadow: $shadow;
        cursor: pointer;
        color: white;
        border: none;
        font-size: 1rem;
        padding: 15px;
        width: 200px;

        &:hover{
            box-shadow: $shadow-hover;
        }
    }
}


/* -------------------ANIMATION SLIDE------------------- */
.anim1{animation: slide 0.5s;}
.anim2{animation: slide 2s;}
.anim3{animation: slide 3.5s;}
.anim4{animation: slide 5s}
/* -------------------ANIMATION SLIDE------------------- */



/* -------------------FOOTER------------------- */
footer{
    background-color: #353535;
    display: flex;
    flex-direction: column;

    .footerlogo{
        color: #fff;
        font-family: Shrikhand, cursive;
        font-size: 1.2rem;
        margin: 20px 40px 0px;
    }

    .footernav{
        a{
            color: white;
            text-decoration: none;
        }
        ul{
            list-style: none;
        }
        .footer-ico{
            margin-right: 4px;
            width: 1.2rem;
        }
    }
} 




/* -------------------MEDIA------------------- */
@media (max-width: 900px) {
    .menu-type{
        display: flex;
        flex-direction: column;
    }
}
/* -------------------KEYFRAMES------------------- */
@keyframes slide {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    
}
@keyframes full-heart {
    from{
        opacity: 0;
    }
    to{
        opacity: 2;
    }
    
}


