/* -------------------------------POLICE ROBOTO------------------------------- */
@font-face {
    font-family: "roboto";
    src: url(police/roboto/Roboto-Black.ttf);
    src: url(police/roboto/Roboto-BlackItalic.ttf);
    src: url(police/roboto/Roboto-Bold.ttf);
    src: url(police/roboto/Roboto-BoldCondensed.ttf);
    src: url(police/roboto/Roboto-BoldCondensedItalic.ttf);
    src: url(police/roboto/Roboto-BoldItalic.ttf);
    src: url(police/roboto/Roboto-Condensed.ttf);
    src: url(police/roboto/Roboto-CondensedItalic.ttf);
    src: url(police/roboto/Roboto-Italic.ttf);
    src: url(police/roboto/Roboto-Light.ttf);
    src: url(police/roboto/Roboto-LightItalic.ttf);
    src: url(police/roboto/Roboto-Medium.ttf);
    src: url(police/roboto/Roboto-MediumItalic.ttf);
    src: url(police/roboto/Roboto-Regular.ttf);
    src: url(police/roboto/Roboto-Thin.ttf);
    src: url(police/roboto/Roboto-ThinItalic.ttf);
}
/* -------------------------------POLICE SHRIKHAND------------------------------- */
@font-face {
    font-family: "shrikhand";
    src: url(police/shrikhand/Shrikhand-Regular.otf);
}
/* -------------------------------BODY------------------------------- */
body{
    margin: 0px;
    font-family: "roboto", sans-serif;
}
h2{
    font-family: "roboto-bold";
    font-weight: bold;
}
/* -------------------------------HEADER------------------------------- */
.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    height: 2rem;
    width: 10rem;
}
/*
h1{
    font-size: 3rem;
}
*/
.location{
    box-shadow: inset 0px 4px 5px 1px grey;
    text-align: center;
    padding: 15px;
    background-color: #f3f3f3;
    font-size: 16px;
}
.explore{
    text-align: center;
    background-color: #fafafa;
    padding-top: 15px;
    padding-bottom: 15px;
}
.explore p{
    font-weight: 100;
    color: #6b6b6b;
}
.explore button{
    background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
    border-radius: 60px 60px 60px 60px;
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
    cursor: pointer;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 15px;
}
.explore button:hover{
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 50%);
    }
/* -------------------------------NAV------------------------------- */
.tuto{
    max-width: 1200px;
    margin: auto;
}
.function{
    display: flex;
    justify-content: space-around;
}
.option1, .option2, .option3{
    background-color: #f7f7f7;
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
    display: flex;
    width: 325px;
    align-items: center;
    /*justify-content: space-between;*/
    height: 60px;
    border-radius: 15px;
    transition-duration: 1s;
}
.option1:hover, .option2:hover, .option3:hover{
    background: #f4edfe;
}
.one, .two, .three{
    background-color: #9356dc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 25px;
    height: 25px;
    margin-left: -15px;
    color: #fff;
}
.font{
    padding-left: 15px;
    color: grey;
}
.ico1, .ico2, .ico3{
    font-weight: 600;
    padding-left: 10px;
}
/* -------------------------------MAIN------------------------------- */
main{
    background-color: #f7f7f7;

}
.restaurant{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 20px;
}
/*.restaurant h2{
    padding-top: 50px;
}*/
.result-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}
.result-box a{
    text-decoration: none;
    color: black;
}
.menu1, .menu2, .menu3, .menu4{
    background-color: white;
    /*max-width: 510px;*/
    border-radius: 1rem;
    padding-bottom: 5px;
    margin: 15px;
    position: relative;
}
.menu1 img, .menu2 img, .menu3 img, .menu4 img{
    height: 12rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
    width: 100%;
}
.result-box a:hover{
    transform: scale(1.05);
}
.box-txt{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.box-name{
    flex: 1;
}
.box-name h3{
    margin: 0px;
}
.new-card {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99E2D0;
    color: red;
    padding: 5px;
}
.empty, .full{
    font-size: 1.75rem;
    position: absolute;
    bottom: 30px;
    right: 15px;
}


/* -------------------------------FOOTER------------------------------- */
/*footer img{
    margin-left: 25px;
    margin-right: auto;
    margin-top: 25px;
    height: 2rem;
    width: 15rem;
    color: #fff;
}*/
.footerlogo{
    color: #fff;
    font-family: Shrikhand, cursive;
    font-size: 1.2rem;
    margin: 20px 40px 0px;
}
footer{
    background-color: #353535;
    display: flex;
    flex-direction: column;
}
.footernav a{
    color: white;
    text-decoration: none;
}
.footernav ul{
    list-style: none;
}
.footer-ico{
    margin-right: 4px;
    width: 1.2rem;
}
/* -------------------------------MEDIA------------------------------- */
@media (max-width: 1200px){
    .tuto{
        text-align: center;
    }
    .function{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }
    .restaurant{
        text-align: center;
    }
}
@media (max-width: 998px){
    .result-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 2rem;
    }    
}
@media (max-width: 500px){
    .option1, .option2, .option3{
        max-width: 260px;
    }
    .tuto{
        text-align: start;
    }
    .restaurant{
        text-align: start;
    }
}
    

/* -------------------------------LOADER------------------------------- */
.section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #f5edff;
    opacity: 0.9;
    animation: start 800ms 4.5s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    height: 150px;
    width: 150px;
}
.utensils{
    font-size: 90px;
    color: cornflowerblue;
}
/*--------------------------
    loader cercle multiple
--------------------------*/
.loader-circles{
    border-radius: 150px;
    border: 3px solid transparent;
    border-top-color: #9356DC;
    animation: spin 1s linear infinite;
}
.loader-circles::after{
    content: "";
    position: absolute;
    top: 5px;left: 5px;
    bottom: 5px;right: 5px;
    border-radius: 150px;
    border: 3px solid transparent;
    border-top-color: #ff79da;
    animation: spin 5s linear infinite;
}
.loader-circles::before{
    content: "";
    position: absolute;
    top: 12px;left: 12px;
    bottom: 12px;right: 12px;
    border-radius: 150px;
    border: 3px solid transparent;
    border-top-color: #99e2d0;
    animation: spin-reverse 10s linear infinite;
}
/*--------------------------
    keyframes
--------------------------*/
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes spin-reverse{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-360deg);}
}
@keyframes start{
    to {
        opacity: 0;
        z-index:-1;
    }
}